@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-display: 'Outfit', sans-serif;
    --color-custom-green: #00672E;
    --color-primary: #EFECEA;
    --color-custom-yellow:#FFE800;
}

.vec{
    background-image: url('./images/Vector7.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
      
html, body {
    height: 100%;
}
  
body{
    display: grid;
}
  
#footer {
    margin-top: auto;
}

#ye
{
    background-image: url(./images/Vector13.png);
    background-size: cover;
    background-position: center;

}